name: Publish to Docker Hub

on:
  schedule:
    # Run at 00:00 UTC on the 1st of every month
    - cron: '0 0 1 * *'
  # Allow manual trigger from GitHub UI
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: public
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: join3r
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: join3r/auggie:latest

